<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Principal</title>
    <style>
        table {
            border-collapse: collapse;
            border: 2px solid black;
            padding: 10px;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
        }
    </style>
</head>
<body>
<table>
    <thead>
    <tr>
        <td>Reports</td>

    </tr>
    </thead>
    <tbody>
    <tr>
        <td>=========</td>
    </tr>
    </tbody>
    </table>
</body>
</html>